@model List<sql_demo.Context.tbl_product>
@{
    ViewBag.Title = "ProductList";
}

<br />
<br />
<p>
    @* @Html.ActionLink("Create New", "Product") *@
    <a href="@Url.Action("Product","Product")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p><br/>
<table id="productList_table" class="table table-striped " style="width:100%">
    <thead style="background-color:#808080">
        <tr>
            <th>Small Image</th>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Short Description</th>
            @*<th>Long Description</th>*@

            @*<th>Large Image</th>*@
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td><img src="@Url.Content(item.small_image)" width="50" height="50" alt="No img" /></td>
    <td>@item.product_category</td>
    <td>@item.product_name</td>

    <td>&#8377; @item.price</td>
    <td>@item.quantity</td>
    <td>@item.short_desc</td>
    @*<td>@item.long_desc</td>

        <td><img src="@Url.Content(item.large_image)" width="100px" height="100px" alt="No img" /></td>*@

<td>
    <a href="@Url.Action("Product",new { item.product_id, item.product_name, item.product_category, item.price, item.quantity, item.short_desc, item.long_desc, item.small_image, item.large_image})" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
    @*<a onclick="return confirm('Are you sure want to delete this record with Name : @item.product_name ?')" class="btn btn-danger">Delete</a>*@
    <a href="@Url.Action("Delete", new {item.product_id})" class="btn btn-sm btn-danger" onclick="return confirm ('Are you sure want to delete this record with name = @item.product_name?');">
        <i class="glyphicon glyphicon-remove"></i> Delete</a>

</td>
</tr>
    }
</table>

@section scripts{
    <script>
        $(function () {
            var msg ='@TempData["successMesg"]';
            if (msg != '') {

                alertify.alert(msg);
            }
        });

        @*
        function Delete(id) {
            alertify.confirm("Delete", "Are you sure to delete this record?", function () {
                window.location.href = '@Url.Action("Delete","Product")/' + id;
            }, null);
        }
        *@
    </script>
}

